.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
// .menutoolbar{
//   --background: #fbb03b;
// }

.container {
  text-align: center;
}

.textstyle{
  color: #3d3d3a;
  font-size: 20px;
}
