<ion-header  >
  <!-- <ion-toolbar class="menutoolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title ></ion-title>
  </ion-toolbar> -->
  <ion-toolbar >
			<img object-fit: cover src="../assets/images/menu_header.png" >
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Menu</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="container" >
          <ion-col >
              <img object-fit: cover src="../assets/images/addvenue.png" position="bottom" style="width:120px" >
              <ion-label color="medium" class="textstyle" >Add Venue</ion-label>
          </ion-col>
          <ion-col >
              <img object-fit: cover src="../assets/images/findmate.png" position="bottom" style="width:120px">
              <ion-label color="medium" class="textstyle">Find Mate</ion-label>
            </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    
</ion-content>
